.background {
    height: 100vh;
    width: 100vw;
    background-color: #111110;
    overflow: hidden;
}

.container {
    height: 100vh;
    font-size: 450%;
    font-weight: 700;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
    position: relative;
    bottom: 0;
    width: 94%;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
}

.content {
    position: absolute;
    top: 100%;
    animation: run 30s linear 0s infinite;
}

.episod-number, .title, .text {
    color: #fbcf00;
    font-family: Lato, sans-serif;
    line-height: 110px;
} 

.episod-number, .title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.first-text {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.second-text {
    text-align: justify;
    padding-top: 50px;
}

@keyframes run {
    from {
        top: 100%;
    }

    to {
        top: -300%;
    }
}

iframe {
    display: none;
}